@import "../../../Common/definitions.scss";

#ecam-sts {

  .PageTitle {
    font-size: $font-size-title;
    text-decoration: underline;
    fill: $display-white;
  }

  .sts-line {
    stroke: rgba(255, 255, 255, 0.6) !important;
    stroke-width: 3 !important;
    stroke-linecap: round !important;
  }

}
